.text-right
  = link_to 'Add new beacon', new_beacon_path, class: 'btn btn-primary'
  = link_to 'Fetch new beacons', fetch_beacons_path, method: :post, class: 'btn btn-success'
  %br
  %br

.list-group.list-group-beacons
  - @beacons.each do |beacon|
    %a.list-group-item{href: beacon_url(beacon)}
      %img{src: beacon_avatar(beacon)}

      %h4.list-group-item-heading
        = beacon.name
        %br.visible-xs-block
        %small= beacon.uuid

      %span.list-group-item-text
        %span.type
          = pluralize(beacon.events.active.count, 'event')
          active

= paginate @beacons