#beacon
  .row
    .col-md-4
      .panel.panel-default
        .panel-body
          %dl
            %dt Model
            %dd= t("beacons.models.#{@beacon.model}")
            %dt Name
            %dd= @beacon.name
            %dt UUID
            %dd= @beacon.uuid
            %dt Major
            %dd= @beacon.major
            %dt Minor
            %dd= @beacon.minor

    .col-md-8
      .panel.panel-default
        .panel-heading
          Preview event response
        .panel-body
          - @beacon.events.active.each do |event|
            %h4= event.kind
            %p API request:
            %code
              = api_beacon_event_url(uuid: @beacon.uuid, kind: event.kind)
            %br
            %br
            %p API response:
            %pre
              = ActiveModel::SerializableResource.new(event, EventSerializer.includes).serializable_hash


.text-right
  = link_to 'Back', beacons_path, class: 'btn btn-link'
  = link_to 'Edit', edit_beacon_path(@beacon), class: 'btn btn-primary'
  = link_to 'Delete', beacon_path(@beacon), class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure?' }
